{% extends 'base.html' %}
{% load static %}
{% block extracss %}
    <style>
        .wrapper, .row {
            height: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        .wrapper:before, .wrapper:after,
        .column:before, .column:after {
            content: "";
            display: table;
        }

        .wrapper:after,
        .column:after {
            clear: both;
        }

        #sidebar {
            background-color: #eee;
            height: 100%;
            position: fixed;
            right: 0;
        }

    </style>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "/js/select2.min.js" %}"></script>
    <script src="{% static "/js/init-select2.js" %}"></script>
    <script src="{% static "/js/jquery.knob.min.js" %}"></script>
    <script src="{% static "/js/jquery.ui.widget.js" %}"></script>
    <script src="{% static "/js/jquery.iframe-transport.js" %}"></script>
    <script src="{% static "/js/jquery.fileupload.js" %}"></script>
    <script src="{% static "/classic/assets/app/custom/general/crud/forms/widgets/bootstrap-datepicker.js" %}"
            type="text/javascript"></script>


{% endblock %}
{% block extrajs %}
    <script>

        function save_comment(obj_id) {


            $.ajax({
                url: '/api/comment/',
                type: "POST",
                dataType: "json",
                data: JSON.stringify({

                    text: $('#comment_text').val(),
                    ticket: obj_id
                }),
                contentType: "application/json",
                headers: {
                    "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val()
                },
                success: function (data) {
                    console.log(data)
                    location.reload()
                }

            });


        }

        function update_status(obj_id) {
            $.ajax({
                url: '/api/ticket/',
                type: "PATCH",
                dataType: "json",
                data: JSON.stringify({
                    id: obj_id,
                    status: $('.status_type').val(),
                    update_status: true
                }),
                contentType: "application/json",
                headers: {
                    "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val()
                },
                success: function (data) {
                    location.reload()
                }

            });


        }

        function update_agreement(obj_id) {
            $.ajax({
                url: '/api/ticket/',
                type: "PATCH",
                dataType: "json",
                data: JSON.stringify({
                    id: obj_id
                }),
                contentType: "application/json",
                headers: {
                    "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val()
                },
                success: function (data) {
                    console.log(data)
                    var url = location.href
                    url = url.slice(0, url.lastIndexOf('/'))
                    url = url.slice(0, url.lastIndexOf('/'))
                    location.href = url

                }

            });


        }

        $(function () {
            $("#modal_btn_close").click(function () {
                $('#file_view').off('shown.bs.modal');
            });


            $(".file_view_btn").click(function () {
                console.log("File edit  button");
                switch ($(this).attr('data-ftype')) {

                    case "0":
                        html = '<div class="image-wrapper">\n' +
                            '        <img id="image" src="' + $(this).attr('data-ffile') + '" data-ffile_id="' + $(this).attr('data-ffile_id') + '" style="max-width: 100%;">\n' +
                            '        <div id="img-prev"></div>\n' +
                            '    </div>'

                        $('#file_view_content').html(html);
                        $('#file_view').modal('show');
                        break;

                    case "1":
                        html = '<object data="' + $(this).attr('data-ffile') + '" type="application/pdf" width="100%" height="100%"></object>'
                        $('#file_view_content').html(html);
                        $('#file_view').modal('show');
                        break;
                    case "2":
                        $.ajax({
                            url: '/api/informationfiles/' + $(this).attr('data-ffile_id') + '/',
                            type: "GET",
                            dataType: "json",
                            contentType: "application/json",
                            headers: {
                                "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val()
                            },
                            success: function (data) {
                                html = "<div>\n" +
                                    data.content
                                "</div>";
                                $('#file_view_content').html(html);
                                $('#file_view').modal('show');
                            }
                        });
                        break;
                    case "3":
                        console.log($(this).attr('data-ftype'));
                        break;
                    case "4":
                        html = '<audio id="audio" src="' + $(this).attr('data-ffile') + '" style="max-width: 100%;" controls></audio>\n'
                        $('#file_view_content').html(html);
                        $('#file_view').modal('show');
                        break;
                    case "5":
                        html = '<video id="video" src="' + $(this).attr('data-ffile') + '" style="max-width: 100%;" controls></video>\n'
                        $('#file_view_content').html(html);
                        $('#file_view').modal('show');
                        break;
                    default:
                        console.log($(this).attr('data-ftype'));
                }
            });
        });
    </script>
{% endblock %}
{% block content %}

    {% csrf_token %}

    <div class="row">
        <div class="col-xl-12">

            <!--begin::Portlet-->
            <div class="kt-portlet ">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label" style="width:100%;float:left;">

                        <h3 class="kt-portlet__head-title" style="float:left">
                            {{ object.get_ticket_type| title }} Details
                            {% if object.old_ticket %}
                                <sup style="margin-left:5px;"><a href="{% url 'open_requirement_detail' pk=object.old_ticket.id team_id=object.project_name.id %}" target="_blank"><span
                                        class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill kt-badge--rounded">Related</span></a>
                                </sup>
                            {% endif %}
                        </h3>
                        {% if object.status == 5 %}

                            <div style="float:left;width:85%">
                                <a style="float:right;"
                                   href="{% url 'create_feature' team_id=object.project_name.id ticket_id=object.id %}">
                                    <button type="button"
                                            class="btn btn-success btn-md btn-block float-right">Create Bugs
                                    </button>
                                </a>

                            </div>
                        {% endif %}

                    </div>
                </div>
                <div class="kt-portlet__body">

                    <!--begin::Accordion-->
                    <div class="accordion accordion-light  accordion-toggle-arrow" id="accordionExample2">
                        <div class="card">
                            <div class="card-header" id="headingOne2">
                                <div class="card-title" data-toggle="collapse" data-target="#collapseOne2"
                                     aria-expanded="true" aria-controls="collapseOne2">
                                    {{ object.ticket_title| upper }}<sup style="margin-left:5px;"><span
                                        class="kt-badge kt-badge--{{ object.priority_icon }} kt-badge--inline kt-badge--pill kt-badge--rounded">{{ object.priority_to_name }}</span></sup>
                                </div>
                            </div>
                            <div id="collapseOne2" class="collapse show" aria-labelledby="headingOne2"
                                 data-parent="#accordionExample2">
                                <div class="card-body">
                                    {{ object.ticket_description }}

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo2">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo2"
                                     aria-expanded="false" aria-controls="collapseTwo2">
                                    Files
                                </div>
                            </div>
                            <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2"
                                 data-parent="#accordionExample2">
                                <div class="card-body">
                                    {% if object.get_files %}
                                        {% for file in object.get_files %}
                                            <div class="col-md-3">
                                                <img src="{{ file.thumb }}" style="width: 200px;height: 200px"
                                                     data-ftype="{{ file.file_type }}"
                                                     data-ffile_id="{{ file.file_id }}"
                                                     data-ffile="{{ file.file }}">

                                                <div class="col-md-12"
                                                     style="display:inline-block; padding:10px 10px 10px 10px; margin-left:60px;">
                                                    <a class="btn btn-primary file_view_btn"
                                                       data-ffile_id="{{ file.file_id }}"
                                                       data-ftype="{{ file.file_type }}"
                                                       data-ffile="{{ file.file }}" style="z-index:999;"><strong
                                                            style="color:white;">View</strong></a>
                                                </div>

                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <h4>No Attachements</h4>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree2">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree2"
                                     aria-expanded="false" aria-controls="collapseThree2">
                                    Other Details
                                </div>
                            </div>


                            <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2"
                                 data-parent="#accordionExample2">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <label class="col-form-label">Desired Date</label>
                                            <div class="input-group date">
                                                <input type="text" class="form-control"
                                                       placeholder="{{ object.desired_date|date:"d/m/y" }}" readonly/>
                                                <div class="input-group-append">
														<span class="input-group-text">
															<i class="la la-calendar-check-o"></i>
														</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <label class="col-form-label ">Status</label>
                                            <select class="form-control status_type" style="text-align-last: center"
                                                    name="status_type" required>
                                                <option value="0">Select Status Type</option>
                                                <option value="1">OPEN</option>
                                                <option value="2">CLOSED</option>
                                                <option value="3">REPOEN</option>
                                                <option value="4">RESOLVED</option>
                                                <option value="5">TEST</option>

                                            </select>

                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <label class="col-form-label "> &nbsp;</label>
                                            <button type="button" onclick="update_status({{ object.id }})"
                                                    class="btn btn-success btn-md btn-block">Update Status
                                            </button>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12" style="padding:20px 0 0 0">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <div class="kt-widget7__content">
                                                    <div class="kt-widget7__userpic">
                                                        <img src="{% static "/classic/assets/media//users/100_5.jpg" %}" alt="" width="100px" height="100px">
                                                    </div>
                                                    <div class="kt-widget7__info">
                                                        <h7 class="kt-widget7__username">@{{object.assigned_to.user.username}}</h7>
                                                        <br>
                                                        <button type="button" data-target="#kt_modal_assign_new_user" data-toggle="modal"
                                                                class="btn btn-success btn-md btn-block" style="width:100px">edit
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>


                                </div>
                            </div>


                        </div>

                        {% for comment in object.get_comments %}

                            <div class="card">
                                <div class="row" style="padding: 10px 0">
                                    <div class="col-lg-1 col-md-1 col-sm-1" style="padding:0;text-align:center">
                                        {#                                        <a href="#" class="user-avatar-link">#}
                                        {#                                            {% if comment.created_by.profile.profile_pic.url %}#}
                                        {#                                            <img src="{{ comment.created_by.profile.profile_pic.url }}"#}
                                        {#                                                 width="50px" height="50px"#}
                                        {#                                                 style="-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;"#}
                                        {#                                                 alt="Documentation" data-placement="top" title="" class="avatar s40 "#}
                                        {#                                                 data-original-title="">#}
                                        {#                                            {% else %}#}
                                        {#                                                <img src=""#}
                                        {#                                                 width="50px" height="50px"#}
                                        {#                                                 style="-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;"#}
                                        {#                                                 alt="Documentation" data-placement="top" title="" class="avatar s40 "#}
                                        {#                                                 data-original-title="">#}
                                        {#                                            {% endif %}#}
                                        {#                                        </a>#}
                                        <span class="kt-badge kt-badge--unified-brand kt-badge--lg kt-badge--bold"
                                              style="background-color:{{ object.get_random_color }};color:white;">
                                            {{ user.user.first_name|first }}
                                        </span>
                                    </div>
                                    <div class="col-lg-11 col-md-11 col-sm-11">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                            <span>
                                                <span>Comments</span>
                                                <span>{{ comment.created|date:"d/m/y" }}</span>
                                            </span>
                                                <span style="float:right;right:0">

                                                <span>
                                                    <a href="javascript:void(0)"
                                                       class="kt-badge kt-badge--{{ comment.created_by.profile.people_to_profile.all.0.access_level.all.0.accesstype_to_color }} kt-badge--m kt-badge--rounded">{{ comment.created_by.profile.people_to_profile.all.0.access_level.all.0.accesstype_to_string|first }}</a>
                                                </span>
                                                <span><i class="flaticon-more"></i></span>
                                            </span>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12">

                                                <a href="javascript:void(0)" class="gfm gfm-project_member has-tooltip"
                                                   title="Documentation">@{{ comment.created_by.username }}</a>
                                                {{ comment.text }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="card">


                            <div class="kt-portlet__body" style="padding:10px 0 0 0;">
                                <div class="form-group row" style="padding:0;">
                                    <label class="col-form-label col-lg-1 col-md-1 col-sm-1">
                                                <span class="kt-badge kt-badge--unified-brand kt-badge--lg kt-badge--bold"
                                                      style="background-color:{{ object.get_random_color }};color:white;">
                                                    {{ user.user.first_name|first }}
{#                    {% if object.created_by.profile.profile_pic.url %}#}
{#                        <img src="{{ object.created_by.profile.profile_pic.url }}" alt="..."#}
{#                             style="height: 50px; width: 50px;border-radius: 50%;">#}
{#                    {% else %}#}
{#                        <img src="" alt="..."#}
{#                             style="height: 50px; width: 50px;border-radius: 50%;">#}
{#                    {% endif %}#}

                </span>
                                    </label>
                                    <div class="col-lg-11 col-md-11 col-sm-11">
                                            <textarea name="content" class="form-control" data-provide="markdown"
                                                      rows="5" id="comment_text">

                                            </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-portlet__foot kt-portlet__foot--fit">

                                <div class="row">
                                    <div class="col-lg-9 ml-lg-auto">
                                        <button type="submit" class="btn btn-brand"
                                                onclick="save_comment({{ object.id }})">Save Comment
                                        </button>
                                        <button type="submit" class="btn btn-secondary">Back</button>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <!--end::Accordion-->
                </div>
            </div>
        </div>
        {#                <div class="right-sidebar" style="background-color:#ffffff;">#}
        {#                    <div class="row">#}
        {#                        <div class="col-xl-2">#}
        {#                        <span class="kt-badge kt-badge--unified-brand kt-badge--lg kt-badge--bold">#}
        {#                            {% if object.created_by.profile %}#}
        {#                            <img src="" alt="..." style="height: 50px; width: 50px;border-radius: 50%;">#}
        {#                            {% else %}#}
        {#                            <img src="" alt="..." style="height: 50px; width: 50px;border-radius: 50%;">#}
        {#                            {% endif %}#}
        {##}
        {#                        </span>#}
        {#                        </div>#}
        {#                        <div class="col-xl-10">#}
        {#                            <h5>{{ object.created_by.get_full_name }}</h5>#}
        {#                            <h7>@{{ object.created_by.username }}</h7>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                    <div class="row">#}
        {#                        <div class="col-xl-6">#}
        {#                            <>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
    </div>
    <div class="modal fade" id="file_view">
        <div class="modal-dialog" style="height: 800px !important ; width: 800px !important ;">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" style="height: 50px !important ; width: 800px !important ;">
                    <h4 class="modal-title">View</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="file_view_content"
                     style="height: 600px !important ; width: 800px !important ;">

                </div>

                <!-- Modal footer -->
                <div class="modal-footer" id="modal-footer"
                     style="height: 100px !important ; width: 800px !important ;">
                    <button type="button" id="modal_btn_close" class="btn btn-danger" data-dismiss="modal">Close
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="kt_modal_assign_new_user" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Assign New User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">User List</label>
                            <select class="form-control" style="text-align-last: center" name="organisation_name"
                                    id="organisation_select" onchange=get_org_name() required>
                                <option value="">Please Select User</option>

                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick=create_department()>Assign</button>
                </div>
            </div>
        </div>
    </div>








{% endblock %}
